<!-- HEADER -->
<link rel='stylesheet' type='text/css' href='/styles/style.css' />
<header>
    <div class="headSection1">
        <div class="menu">
            <img src="/icon/titik.svg" alt="Menu">
        </div>
        <div class="vertical-line"></div>
        <div class="welcome">
            <div class="welcomeTop">
                <span>WELCOME BACK</span>
            </div>
            <div class="welcomeBottom">
                <span>Jamal Lacky Onidous</span>
            </div>
        </div>
    </div>
    <div class="headSection2">
        <span class="brand1">BINUS</span> <span class="brand2">ASPIRE</span>
    </div>
    <div class="headSection3">
        <div class="bellNotification">
            <img src="icon/bell.svg" alt="Notification">
        </div>
        <div class="photoProfile">
            <img src="img/speedScream-modified.png" width="45px" alt="Profile">
        </div>
    </div>
</header>
<!-- END HEADER -->
