<!-- SIDEBAR -->
<aside id="sidebar">
    <div class="card-points">
        <div class="point-item">
            <span class="pointTitle">Student Activity Points</span>
            <br>
            <span class="point">XX/120</span>
        </div>
        <div class="point-item">
            <span class="pointTitle">Community Service</span>
            <br>
            <span class="point">XX/30</span>
        </div>
    </div>
    <div class="menu-item">
        <img src="icon/regis.svg" alt="Registration"><a href="#"><span> Registration</span></a>
    </div>  
    <div class="menu-item">
        <img src="icon/dash.svg" alt="Dashboard"><a href="dashboard.html"><span> Dashboard</span></a>
    </div>
    <div class="menu-item">
        <img src="icon/course.svg" alt="Courses"> <a href="courses.html"><span> Courses</span></a>
    </div>
    <div class="menu-item">
        <img src="icon/asses.svg" alt="Assessment"> <a href="assessment.html"><span> Assessment</span></a>
    </div>
    <div class="menu-item">
        <img src="icon/attend.svg" alt="Attendance"> <a href="attendance.html"><span> Attendance</span></a>
    </div>
    <div class="menu-item">
        <img src="icon/jadwal.svg" alt="Schedule"> <a href="schedule.html"><span> Schedule</span></a>
    </div>
    <div class="menu-item">
        <img src="icon/learn.svg" alt="LearnIT"> <a href="learnIT.html"><span> LearnIT</span></a>
    </div>
    <div class="menu-item">
        <img src="icon/info.svg" alt="Information"> <a href="information.html"><span> Information</span></a>
    </div>
</aside>
<!-- END SIDEBAR -->
