<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BINUS Aspire</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="headSection1">
            <div class="menu">
                <img src="/icon/titik.svg" alt="Menu">
            </div>
            <div class="vertical-line">

            </div>
            <div class="welcome">
                <div class="welcomeTop">
                    <span>WELCOME BACK</span>
                </div>
                <div class="welcomeBottom">
                    <span>Jamal Lacky Onidous</span>
                </div>
            </div>
        </div>
        <div class="headSection2">
            <span class="brand1">BINUS</span> <span class="brand2">ASPIRE</span>
        </div>
        <div class="headSection3">
            <div class="bellNotification">
                <img src="/icon/bell.svg" alt="Notification">
            </div>
            <div class="photoProfile">
                <img src="/img/speedScream-modified.png" width="45px" alt="Profile">
            </div>
        </div>
    </header>
    <!-- END HEADER -->

    <!-- TOGGLE MOBILE VIEW -->
    <button id="menu-toggle">☰</button>
    
    <!-- MAIN CONTAINER -->
    <div class="container">
        <!-- SIDEBAR -->
        <aside id="sidebar">
            <div class="card-points">
                <div class="point-item">
                    <span class="pointTitle">Student Activity Points</span>
                    <br>
                    <span class="point">XX/120</span>
                </div>
                <div class="point-item">
                    <span class="pointTitle">Community Service</span>
                    <br>
                    <span class="point">XX/30</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="icon/regis.svg" alt="Registration"><a href="/"><span> Registration</span></a>
            </div>  
            <div class="menu-item">
                <img src="icon/dash.svg" alt="Dashboard"><a href="/dashboard"><span> Dashboard</span></a>
            </div>
            <div class="menu-item">
                <img src="icon/course.svg" alt="Courses"> <a href="/courses"><span> Courses</span></a>
            </div>
            <div class="menu-item">
                <img src="icon/asses.svg" alt="Assessment"> <a href="/assessment"><span> Assessment</span></a>
            </div>
            <div class="menu-item">
                <img src="icon/attend.svg" alt="Attendance"> <a href="/attendance"><span> Attendance</span></a>
            </div>
            <div class="menu-item">
                <img src="icon/jadwal.svg" alt="Schedule"> <a href="/schedule"><span> Schedule</span></a>
            </div>
            <div class="menu-item">
                <img src="icon/learn.svg" alt="LearnIT"> <a href="/learnIT"><span> LearnIT</span></a>
            </div>
            <div class="menu-item">
                <img src="icon/info.svg" alt="Information"> <a href="/information"><span> Information</span></a>
            </div>
        </aside>
        <!-- END SIDEBAR -->

        <!-- MAIN -->
        <main>
            <span class="title">Dashboard</span>
            <hr>
            <div class="main-grid">

                <div class="firstSection">
                    <h2>Upcoming Class</h2>
                    <div class="upcomingClass">
                        <div class="class-place">
                            <span>Online Class</span>
                        </div>
                        <div class="class">
                            <span>LB75 - LEC</span>
                        </div>
                        <div class="course">
                            <span>Human Computer Interaction</span>
                        </div>

                        <div class="upcomingLecturer">
                            <img src="/img/pak_budi-modified.png" width="45px" alt="Lecturer"><span>Budi Juarto, S. T.,M.Kom.</span>
                        </div>
                        <div class="upcomingCourseID">
                            <img src="/icon/id.svg" alt="CourseID"><span>COMP12345678</span>
                        </div>
                        <div class="upcomingLocation">
                            <img src="/icon/location.svg" alt="Location"><span>Zoom Meeting</span>
                        </div>
                        <div class="upcomingSchedule">
                            <img src="/icon/time.svg" alt="Schedule"><span>07.00 - 23.00 GMT+7</span>
                        </div>
                        <div class="absentBtn">
                            <button class="absent">Take Attendance</button>
                        </div>
                    </div>
                </div>

                <div class="secondSection">
                    <h2>Schedule</h2>
                    <div class="schedule">
                      <!-- CONTENT -->
                      <div class="month">
                        <span>June 2024</span>
                      </div>
                      <div class="calendar">
                        <table>
                          <thead>
                            <tr>
                              <td class="bold">Sun</td>
                              <td class="bold">Mon</td>
                              <td class="bold">Tue</td>
                              <td class="bold">Wed</td>
                              <td class="bold">Thu</td>
                              <td class="bold">Fri</td>
                              <td class="bold">Sat</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="light">26</td>
                              <td class="light">27</td>
                              <td class="light">28</td>
                              <td class="light">29</td>
                              <td class="light">30</td>
                              <td class="light">31</td>
                              <td class="bold">1</td>
                            </tr>
                            <tr>
                              <td class="bold">2</td>
                              <td class="bold">3</td>
                              <td class="bold">4</td>
                              <td class="bold">5</td>
                              <td class="bold">6</td>
                              <td class="bold">7</td>
                              <td class="bold">8</td>
                            </tr>
                            <tr>
                              <td class="bold">9</td>
                              <td class="bold">10</td>
                              <td class="bold">11</td>
                              <td class="bold">12</td>
                              <td class="bold">13</td>
                              <td class="bold">14</td>
                              <td class="bold">15</td>
                            </tr>
                            <tr>
                              <td class="bold">16</td>
                              <td class="bold">17</td>
                              <td class="bold">18</td>
                              <td class="bold">19</td>
                              <td class="bold">20</td>
                              <td class="bold">21</td>
                              <td class="bold">22</td>
                            </tr>
                            <tr>
                              <td class="bold">23</td>
                              <td class="bold">24</td>
                              <td class="bold">25</td>
                              <td class="bold">26</td>
                              <td class="bold">27</td>
                              <td class="bold">28</td>
                              <td class="bold">29</td>
                            </tr>
                            <tr>
                              <td class="bold">30</td>
                              <td class="light">1</td>
                              <td class="light">2</td>
                              <td class="light">3</td>
                              <td class="light">4</td>
                              <td class="light">5</td>
                              <td class="light">6</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="detailSchedule">
                        <div class="todayPlace">
                          <span class="today">Today</span>
                          <span class="place">Onilne Class</span>
                        </div>
                        <div class="info">
                          <div class="todayClass">
                            <span>LB75 - LEC</span>
                          </div>
                          <div class="todayCourse">
                            <span>Human Computer Interaction</span>
                          </div>
                          <div class="menu-item-schedule">
                            <img src="../HCI-LMS//icon/id.svg" alt=""><span>GENSHINKILLER</span>
                          </div>
                          <div class="menu-item-schedule"> 
                            <img src="../HCI-LMS//icon/location.svg" alt=""><span>Zoom Meeting</span>
                          </div>
                          <div class="menu-item-schedule">
                            <img src="../HCI-LMS//icon/time.svg" alt=""><span>07.00 - 23.00 GMT+7</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="thirdSection">
                    <h2>To-Do List</h2>
                    <div class="todolist">
                        <div class="dashed-border">
                            <span>Assignment</span>
                            <div class="assignment">
                                <span class="todolistAssignment">AOL - Human Computer Interaction</span>
                                <br>
                                <span class="todolistDeadline">Deadline: 22/06/2024 22.00 GMT +7</span>
                                <br>
                                <span class="todolistCourse">Human Computer Interaction</span>
                                <br>
                                <button class="detailBtn">See Detail</button>
                            </div>
                            <div class="assignment">
                                <span class="todolistAssignment">Assignment - Scientific Computing</span>
                                <br>
                                <span class="todolistDeadline">Deadline: 22/06/2024 22.00 GMT +7</span>
                                <br>
                                <span class="todolistCourse">Scientific Computing</span>
                                <br>
                                <button class="detailBtn">See Detail</button>
                            </div>
                        </div>
                        <div class="viewBtnContainer">
                            <button class="viewBtn">View All</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- END MAIN -->

    <!-- END MAIN CONTAINER -->
    </div>
    
<script src="../scripts/script.js"></script>
</body>
</html>