<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binus Aspire | Attendance</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/information.css">
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="headSection1">
            <div class="menu">
                <img src="/icon/titik.svg" alt="Menu">
            </div>
            <div class="vertical-line">

            </div>
            <div class="welcome">
                <div class="welcomeTop">
                    <span>WELCOME BACK</span>
                </div>
                <div class="welcomeBottom">
                    <span>Jamal Lacky Onidous</span>
                </div>
            </div>
        </div>
        <div class="headSection2">
            <span class="brand1">BINUS</span> <span class="brand2">ASPIRE</span>
        </div>
        <div class="headSection3">
            <div class="bellNotification">
                <img src="icon/bell.svg" alt="Notification">
            </div>
            <div class="photoProfile">
                <img src="img/speedScream-modified.png" width="45px" alt="Profile">
            </div>
        </div>
    </header>
    <!-- END HEADER -->

    <!-- TOGGLE MOBILE VIEW -->
    <button id="menu-toggle">☰</button>
    
    <!-- MAIN CONTAINER -->
    <div class="container">
        <!-- SIDEBAR -->
        <aside id="sidebar">
            <div class="card-points">
                <div class="point-item">
                    <span class="pointTitle">Student Activity Points</span>
                    <br>
                    <span class="point">XX/120</span>
                </div>
                <div class="point-item">
                    <span class="pointTitle">Community Service</span>
                    <br>
                    <span class="point">XX/30</span>
                </div>
            </div>
            <a href="/">
                <div class="menu-item">
                    <img src="icon/regis.svg" alt="Registration"><span> Registration</span>
                </div>
            </a>
            <a href="/dashboard">
                <div class="menu-item">
                    <img src="icon/dash.svg" alt="Dashboard"><span> Dashboard</span>
                </div>
            </a>
            <a href="/courses">
                <div class="menu-item">
                    <img src="icon/course.svg" alt="Courses"><span> Courses</span>
                </div>
            </a>
            <a href="/assessment">
                <div class="menu-item">
                    <img src="icon/asses.svg" alt="Assessment"><span> Assessment</span>
                </div>
            </a>
            <a href="/attendance">
                <div class="menu-item">
                    <img src="icon/attend.svg" alt="Attendance"><span> Attendance</span>
                </div>
            </a>
            <a href="/schedule">
                <div class="menu-item">
                    <img src="icon/jadwal.svg" alt="Schedule"><span> Schedule</span>
                </div>
            </a>
            <a href="/learnIT">
                <div class="menu-item">
                    <img src="icon/learn.svg" alt="LearnIT"><span> LearnIT</span>
                </div>
            </a>
            <a href="/information">
                <div class="menu-item menu-active">
                    <img src="icon/info.svg" alt="Information"><span> Information</span>
                </div>
            </a>
        </aside>
        <!-- END SIDEBAR -->

        <!-- MAIN -->
        <main>
        
            <div class="main-grid">

                <div class="first-section">
                    <div class="first-title">
                        <span>Information</span>
                    </div>
                    <div class="information card">
                        <div class="information-content">
                            <img src="/icon/leftArrow.svg" alt="" class="arrow left">
                            <img src="/img/info-poster.png" alt="" class="poster">
                            <div class="information-event">
                                <span class="information-bold">BNCC X GDSC Techbinar “Techwinter: Exploring Your Path Career Through The Tech Challenges”</span>
                                <ul>
                                    <li>Tanggal: Sabtu, 25 Mei 2024</li>
                                    <li>Waktu: 10.00 - 13,30 WIB</li>
                                    <li>Lokasi: Binus Bandung Lt.4</li>
                                </ul>
                                <span class="information-bold">Benefit:</span>
                                <ul>
                                    <li>SAT</li>
                                    <li>KNOWLEDGE</li>
                                </ul>
                                <button class="register-btn">Register Yourself</button>
                            </div>
                            <img src="/icon/rightArrow.svg" alt="" class="arrow right">
                        </div>
                    </div>
                </div>

                <div class="second-section">
                    <div class="second-title">
                        <span>Student Activity Transcript</span>
                    </div>
                    <div class="sat card">
                        <div class="sat-content">
                            <span class="sat-date">Rabu, 12 Juni 2024</span>
                            <ol>
                                <li>[INT] Commercial and Technical Experience: How to Handle Aggressive and Demanding Customers | 10:00-12:00 WIB | https://forms.office.com/r/mafkfqmt9H</li>
                                <li>Menjalin Harmoni = Peran Literasi Keagamaan dalam Menanggulangi Konflik Sosial | 13:00-16:15 WIB | bit.ly/RegistRumpunDay2024 | Onsite R800 BINUS Anggrek</li>
                                <li>[IE] [INT] The Fun Side of Life:  The Power of Gamification in Daily Activities | 13:20-15:00 WIB | bit.ly/RegGtis24 | https://binus.zoom.us/j/95154003461</li>
                                <li>[INT] Behind the Script: My Broken Mariko with MUKAI Kosuke | 13:30-15:00 WIB | https://bit.ly/seminar-june24</li>
                            </ol>
                            <br>
                            <span class="sat-date">Kamis, 13 Juni 2024</span>
                            <ol>
                                <li>[INT] Behind the Script: My Broken Mariko with MUKAI Kosuke | 13:30-selesai WIB | https://tinyurl.com/JFFON24Talks/</li>
                            </ol>
                            <button class="view-btn">View all</button>
                        </div>
                    </div>
                </div>

                <div class="third-section">
                    <div class="third-title">
                        <span>Community Service</span>
                    </div>
                    <div class="comserv card">
                        <div class="comserv-content">
                            <img src="/img/comserv-poster.png" alt="" class="comserv-poster">
                            <div class="comserv-info">
                                <span>MARK YOUR CALENDER:</span>
                                <ul>
                                    <li>📆 Sunday, 23rd June 2024</li>
                                    <li>⏰ 13.00-15.10 WIB</li>
                                    <li>📍 Platform: Zoom (online)</li>
                                    <li>💸 Rp15.000  (single package) or Rp25.000 (bundle package)</li>
                                </ul>
                                <span>BENEFITS YOU WILL GET:</span>
                                <ul>
                                    <li>🌟 SAT Points for Binusian</li>
                                    <li>✨ Obtain up to 5 Comserv hours*</li>
                                    <li>🎓 Receive an E-Certificate</li>
                                    <li>📚 Gain Valuable Knowledge and Teaching Experience**</li>
                                    <li>👥 Connect with a Network of Educators and Advocates</li>
                                    <li></li>
                                    <li>*Only available if  you join offline event</li>
                                    <li>**If you join Teaching Volunteer</li>
                                </ul>
                                <span>Register here:</span>
                                <ul>
                                    <li>🔗 bit.ly/SDGLevelUpSignUp</li>
                                </ul>
                                <span>For further information, kindly check our booklet!</span>
                                <ul>
                                    <li>🔗 bit.ly/SDGLUDelegatesBooklet</li>
                                </ul>
                                <button class="view-btn">View all</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </main>
        <!-- END MAIN -->
    </div>
    
    <script src="scripts/script.js"></script>
</body>
</html>