* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #E0E0E0;
    font-family: Arial, sans-serif;
}

main {
    padding: 20px;
    margin: auto;
}

.details {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 5px;
}

.detailsID, .detailsCredit, .detailsClass {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #393939;
}

.detailsID > img, .detailsCredit > img, .detailsClass > img {
    width: 20px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #393939;
    margin: 10px 0;
}

.profile > img {
    width: 70px;
    margin: 6px 0 5px 2px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px 0;
    padding: 0;
    color: black;
}

.section a {
    color: black;
    padding: 10px;
    border-radius: 20px;
    transition: 0.2s;
}

.section a:hover {
    background-color: #fff;
    border: 3px solid #0097DA;
    transition: 0.2s;
}

.session {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    margin: 5px 0 0 0;
    padding: 0;
    color: black;
}

.sescard {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px 10px 0 0;
    margin-right: 12px;
    flex: 1 1 calc(33.333% - 24px);
    padding: 10px;
    transition: 200ms;
}

.sescard:hover {
    background-color: #F29723;
    color: white;
}

.sescard a {
    color: black;
}

.sescard a:hover {
    color: white;
}

.img-container {
    padding: 5px;
    background-color: #fff;
    margin-right: 5px;
    border-radius: 10px;
}

.content {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.desc {
    width: 100%;
    max-width: 65%;
}

.desc h2 {
    margin-bottom: 10px;
}

.desc h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.desc ul {
    margin: 10px 0;
    padding-left: 20px;
}

.desc ul li {
    margin-bottom: 5px;
}

.class-schedule-course {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.span-class {
    font-weight: 600;
    font-size: 20px;
}

.sidebar2 {
    width: 100%;
    max-width: 30%;
    background-color: #ff8c00;
    border-radius: 10px;
    padding: 20px;
    color: white;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.item:last-child {
    margin-bottom: 0;
}

.icon {
    width: 30px;
    height: 30px;
}

.text {
    flex: 1;
}

.text .title {
    font-size: 16px;
}

.duration {
    font-size: 14px;
    color: #ddd;
}

.button {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.buttons-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.buttons-footer .button {
    font-weight: 600;
    background-color: white;
    color: #ff8c00;
    border: 2px solid #0097DA;
}

/* Media Queries */
@media (max-width: 960px) {
    .details, .section, .session {
        flex-direction: row;
        align-items: center;
    }

    .session {
        flex-wrap: wrap;
    }

    .desc, .sidebar2 {
        width: 100%;
        max-width: 100%;
    }

    .buttons-footer {
        width: 100%;
        justify-content: center;
    }

    .buttons-footer .button {
        flex: 1 1 100%;
        text-align: center;
    }
}
